root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

ij_kotlin_allow_trailing_comma_on_call_site=true
ij_kotlin_allow_trailing_comma=true

# ktlint 버전을 최신으로 올렸을 때 사용해야 함
# ktlint_standard_filename = disabled
# ktlint_standard_indent = disabled
# ktlint_standard_max-line-length = disabled
# ktlint_standard_import-ordering = disabled

disabled_rules = filename, indent, max-line-length, import-ordering
