**/.idea/*
!/.idea/icon.png
!/.idea/vcs.xml
!/.idea/copyright
!/.idea/codeStyleSettings.xml
!/.idea/codeStyles
!/.idea/dictionaries
*.iml
.gradle
build
release
local.properties
google-services.json
secrets.tar
keystore
/buildSrc/src/main/kotlin/BuildConstants.kt
/documents/dokka/
/report
/ui-components/src/test/snapshots
