<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by 2022 SungbinLand, Team Duckie
  ~
  ~ [AndroidManifest.xml] created by Ji Sungbin on 22. 8. 14. 오전 12:58
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/sungbinland/quack-quack/blob/main/LICENSE
  -->

<manifest />