<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by 2022 SungbinLand, Team Duckie
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/sungbinland/quack-quack/blob/main/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/quack_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Quack.Splash">

        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".realworld.TabPlayground"
            android:theme="@style/Theme.Quack" />

        <activity
            android:name=".realworld.ButtonPlayground"
            android:theme="@style/Theme.Quack" />

        <activity
            android:name=".realworld.TextFieldPlayground"
            android:theme="@style/Theme.Quack" />

        <activity
            android:name=".realworld.FabPlayground"
            android:theme="@style/Theme.Quack" />

        <activity
            android:name=".realworld.TogglePlayground"
            android:theme="@style/Theme.Quack" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.Quack.AppCompat" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.Quack.AppCompat" />

    </application>

</manifest>
