<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by 2022 SungbinLand, Team Duckie
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/sungbinland/quack-quack/blob/main/LICENSE
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Quackquack">

        <profileable
            android:shell="true"
            tools:targetApi="29" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".realworld.TabPlayground" />
        <activity android:name=".realworld.ButtonPlayground" />
        <activity android:name=".realworld.TextFieldPlayground" />
        <activity android:name=".realworld.FabPlayground" />
        <activity android:name=".realworld.SelectableImagePlayground" />
        <activity android:name=".realworld.EtcPlayground"/>

    </application>

</manifest>
