<?xml version="1.0" encoding="utf-8"?><!--
  ~ Designed and developed by 2022 SungbinLand, Team Duckie
  ~
  ~ [AndroidManifest.xml] created by Ji Sungbin on 22. 8. 14. 오전 1:00
  ~
  ~ Licensed under the MIT.
  ~ Please see full license: https://github.com/sungbinland/quack-quack/blob/main/LICENSE
  -->


<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
